form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.log-page button {
    background-color: #00a2ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.log-page button:hover {
  opacity: 1.2;
}

.register-page button {
  background-color: #00a2ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.log-page {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  padding-top: 50px;
  position: fixed;
}

.container {
    padding: 16px;
}

.log-page {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 50px;
    position: fixed;
}

.register-page {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 50px;
    position: fixed;
}

.logon-content{
    width: 100%;
    border: 2px solid rgb(15, 2, 61);
    margin: 10% auto 15% auto;
}
.log-content {
    width: 100%;
    border: 2px solid rgb(15, 2, 61);
    margin: 10% auto 15% auto;
}

.close {
    position: absolute;
    right: 15px;
    font-size: 50px;
    color: balck;
}

.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

.psw {
    float: right;
}

.register {
    width: auto;
    padding: 10px, 20px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.main {
      height: 100vh;
      background: url('background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      
}

.main:after {
  content: "";
  display: table;
  clear: both;
}

.column{
      float:left;
      width: 33%;
}

.home-h1 {
    margin:0%;
    text-align: center;
    font-size: 100px;
    color: White;
    font-family: Garamond, serif;
}

.home-h2 {
  margin:0%;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: Garamond, serif;
}

.btn {
  color: white;
  height:180px; 
  width:250px; 
  margin: -20px -50px; 
  position:relative;
  top:200px; 
  left:50%;
  font-size: 40px;
  background-color: transparent;
}

.btn:hover {
  background-color: rgb(37, 221, 92);
}

.topnav{
  overflow: hidden;
  background-color: #333;
}

.topnav button {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #000000;
}

.topnav button:hover{
  background-color: #ddd;
  color: black;
}

/**Test html page style*/
.submit-input {
  background-color: #00a2ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

.submit-form {
  text-align:center;
  margin-left:-20px;
  margin-right:-20px;
  top: 40%;
}

.form-container {
  position:fixed;
  top:40%;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
}

.test-link {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font:bold 14px Arial;
  width:60%;
  height:40px;
  border: none;
}


.test-page {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.topic-c {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}

/**quize page css styles*/
.quiz-submit{
  text-align:center;
  margin-left:-20px;
  margin-right:-20px;
}

.choice input[type=radio]{
  padding-left:5px;
  width:15px;
  height:15px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.choice label{
  text-align: left;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.question-description p{
  margin-left: 30px;
  margin-bottom: 50px;
  text-align: left;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.quiz-page {
  border :2px solid black;
  position:absolute;
  top:10%;
  bottom:30%;
  left:20%;
  right:20%; 
  width: XXXpx; /*otherwise div defaults to page width*/
  margin: 0 auto; /*horizontally centers div*/
  background-color: rgb(176, 253, 253);
}

.quiz-page #previous{
  position: fixed;
  bottom: 20%;
  left: 20%;
  margin-right: auto;
  margin-left: auto;
  font:bold 14px Arial;
  width:160px;
  height:40px;
  background-color:rgb(95, 247, 7);
}

.quiz-page #next{
  position: fixed;
  bottom: 20%;
  right: 20%;
  margin-bottom: 10px;
  margin-right: 0px;
  float:right;
  font:bold 14px Arial;
  width:160px;
  height:40px;
  background-color:rgb(95, 247, 7);
}

/** result page */
.result-page #back{
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  float:right;
  font:bold 14px Arial;
  width:160px;
  height:40px;
  background-color:rgb(43, 7, 247);
}

/** profile page */
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}

.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}

.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}

.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}