{% extends "home.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
           {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
         </div>
        {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}