{% extends "home.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <script>
         var messages = {{ messages | safe }};
         for (var i=0; i<messages.length; i++) {
          alert(messages[i]);
        }
       </script>
     {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}