{% extends "home.html" %}

{% block content %}
    <form action="" method="post" novalidate>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
           {{ messages[0] }}. </a>.
         </div>
        {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}