{% extends "home.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <script>
         var messages = {{ messages | safe }};
         for (var i=0; i<messages.length; i++) {
          alert(messages[i]);
        }
       </script>
     {% endif %}
    {% endwith %}
<div id="register-page" class="register-page">
    <span onclick="closeRegister()" class="close" title="Close-page">&times;</span>

    <form name="register-form" class="logon-content animate" action="/register" method="POST">


        <div class="container">
            <lable for="username"><b>Username</b></lable>
            <input type="text" placeholder="Enter username" oninvalid="InvalidName(this);" oninput="InvalidName(this);" id="username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter password Minimum eight characters, at least one letter and one number" oninvalid="InvalidPwd(this);" oninput="InvalidPwd(this);" id="psw" name="password"required>

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter email" oninvalid="InvalidEmail(this);" oninput="InvalidEmail(this);" id="email" name="email" required>

            <label for="phone"><b>Phone</b></label>
            <input type="tel" placeholder="Enter Australia phone number" oninvalid="InvalidPhone(this);" oninput="InvalidPhone(this);" id="phone" name="phone" required>
            
            <label for="birthday"><b>Date of Birth</b></label><br/>
            <input type="date" placeholder="Select birthday" oninvalid="InvalidBirth(this);" oninput="InvalidBirth(this);" id="birthday" name="birthday"required></input>

            <button type="submit" onclick="SucRegister()">Submit</button>

        </div>
    </form>
</div>
{% endblock %}