<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log page</title>
    </head> 

    <body onload="windowonload()">
        <div class="topnav">
            <a href="{{url_for('main.content')}}"><button class="navbut">Home</button></a>
            <a href="{{url_for('main.test')}}"><button class="navbut">Test</button></a>
            <a href="{{url_for('main.home')}}"><button class="navbut">Statistic</button></a>
            {% if not current_user %}
             <a href="{{url_for('auth.login')}}"><button class="navbut">Log in</button></a>
            <a href="{{url_for('auth.register')}}"><button class="navbut">Sign up</button></a>
           {% endif %}

        {% if current_user %}
             <a href="{{url_for('main.test')}}"><button class="navbut"> test page</button></a>
           {% endif %}
        </div>

        {% block content %}
    
        {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>
    </body>

    

</html>
