<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head> 

    <body onload="windowonload()">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('main.index')}}">index</a>
    </div>
    <ul class="nav navbar-nav">
          <li><a href="{{url_for('main.home')}}">Home</a></li>
          <li><a href="{{url_for('main.home')}}">Test</a></li>
          <li><a href="{{url_for('main.home')}}">Statistic</a></li>
    </ul>
      {% if current_user.is_anonymous  %}
       <ul class="nav navbar-nav navbar-right">
       <li><a href="{{url_for('auth.register')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      {% else %}
          <ul class="nav navbar-nav navbar-right">
          <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          </ul>
      {% endif %}
  </div>
</nav>

        <div>
            <div class='content'>
                <h1>Before starting</h1>
                <h2>Read Web design learning books: </h2>
                <h4>1. HTML and CSS: Design and Build Websites</h4>
                <h4>2. Learning Web Design: A Beginner’s Guide</h4>
                <h4>3. Don’t Make Me Think: A Common Sense Approach to Web Usability</h4>
                <h4>4. Learning How to Make Web Pages Functional</h4>
                <h4>5. Designing with Web Standards</h4>
    
                <br>
                <h2>Practicing Coding：</h2>
                <h4>1. W3Schools</h4>
                <p>To learn the basic coding language, it includes：HTML and CSS with simple language to teach you.</p>
                <h4>2.Code Avengers</h4>
                <p>participate in their coding challenge programme and bug hunting.</p>
    
                <h3>Once you have basic knowledge about the web development, you can start 
                    testing your knowledge anytime.<br/>
                    We provide you short test about HTML, CSS and Javascript questions. You can
                    check your result once you finish test.
                </h3>
                {% block content %}
    
                   {% endblock %}
        </div>

        <script src="../static/login.js"></script>
    </body>

    

</html>
