<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log page</title>
    </head> 
    <body onload="hideDiv()">
        <div id="quiz-page" class="quiz-page">
            {% for question in quizs %}
                <div id="{{ loop.index }}" class="question-list" name="{{ question.id }}">
                    <div class="question-description">
                        <p>{{question.question}}</p>
                    </div>
                    <div class="choice">
                        <form id="form{{ loop.index }}">
                            <input type="radio" id="{{ loop.index }}A" name="radiobtn" value="{{question.choiceA}}">
                            <label for="A">{{question.choiceA}}</label><br>
                            <input type="radio" id="{{ loop.index }}B" name="radiobtn" value="{{question.choiceB}}">
                            <label for="B">{{question.choiceB}}</label><br>
                            {% if question.choiceC is not none %}
                            <input type="radio" id="{{ loop.index }}C" name="radiobtn" value="{{question.choiceC}}">
                            <label for="C">{{question.choiceC}}</label><br>
                            {% endif %}
                            {% if question.choiceD is not none %}
                            <input type="radio" id="{{ loop.index }}D" name="radiobtn" value="{{question.choiceD}}">
                            <label for="D">{{question.choiceD}}</label><br>
                            {% endif %}
                        </form>
                    </div>     
                </div>
            {% endfor %}
            <button id="previous" onclick="previousqs()"> <i class="fa fa-arrow-left"></i>Previous </button>
            <button id="next" onclick="nextqs()"><i class="fa fa-arrow-right"></i> Next </button> 
        </div>
        <form method="POST" id="quiz-submit" class="quiz-submit" hidden>
            <input type="hidden" id="answers" name="answers">
            <input class="submit-input" id="submit-input" type="submit" value="Submit">
            <input class="submit-input" type="reset" onclick="hideform()" value="Cancel" >
        </form>


        <script type="text/javascript" src="{{ url_for('static', filename='quiz.js') }}"></script>
    </body>
</html>