{% extends "home.html" %}

{% block content %}

<div id="test-page" class="test-page">

    <div id="html" class="topic-c">
        <h2>HTML</h2>
        <input class="test-link" type="button" value="easy"  id="easy" onclick="openform(this)">
        <input class="test-link" type="button" value="normal"  id="normal" onclick="openform(this)">
        <input class="test-link" type="button" value="hard"  id="hard" onclick="openform(this)">
    </div>
    <div id="javascript" class="topic-c">
        <h2>JavaScript</h2>
        <input class="test-link" type="button" value="easy"  id="easy" onclick="openform(this)">
        <input class="test-link" type="button" value="normal"  id="normal" onclick="openform(this)">
        <input class="test-link" type="button" value="hard"  id="hard" onclick="openform(this)">
    </div>
    <div id="css" class="topic-c">
        <h2>CSS</h2>
        <input class="test-link" type="button" value="easy"  id="easy" onclick="openform(this)">
        <input class="test-link" type="button" value="normal"  id="normal" onclick="openform(this)">
        <input class="test-link" type="button" value="hard"  id="hard" onclick="openform(this)">
    </div>
</div>

<div id="submit-form" class="submit-form" hidden>
    <form method="POST" class="form-container">
        <input type="hidden" id="topic" name="topic" value="" >
        <br>
        <input type ="hidden" id="level" name="level" value="" >
        <br>
        <P>Do you want to start test now?</P>
        <input class="submit-input" type="submit" value="Start">
        <input class="submit-input" type="reset" onclick="hideform()" value="Cancel" >
    </form>
</div>

{% endblock%}

    