form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.log-page button {
    background-color: #00a2ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.register-page button {
  background-color: #00a2ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.log-page button:hover {
    opacity: 1.2;
}

.container {
    padding: 16px;
}

.log-page {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 50px;
    position: fixed;
}

.register-page {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 50px;
    position: fixed;
}

.logon-content{
    width: 75%;
    border: 2px solid rgb(15, 2, 61);
    margin: 10% auto 15% auto;
}
.log-content {
    width: 75%;
    border: 2px solid rgb(15, 2, 61);
    margin: 10% auto 15% auto;
}

.close {
    position: absolute;
    right: 15px;
    font-size: 50px;
    color: balck;
}

.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

.psw {
    float: right;
}

.register {
    width: auto;
    padding: 10px, 20px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  .main {
        height: 100vh;
        background: url('background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
  }

  .main:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column{
        float:left;
        width: 33%;
  }

  .home-h1 {
      margin:0%;
      text-align: center;
      font-size: 100px;
      color: White;
      font-family: Garamond, serif;
  }

  .home-h2 {
    margin:0%;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: Garamond, serif;
}

.btn {
    color: white;
    height:180px; 
    width:250px; 
    margin: -20px -50px; 
    position:relative;
    top:200px; 
    left:50%;
    font-size: 40px;
    background-color: transparent;
  }

  .btn:hover {
    background-color: rgb(37, 221, 92);
  }

  .topnav{
    overflow: hidden;
    background-color: #333;
  }

  .topnav button {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #000000;
  }

  .topnav button:hover{
    background-color: #ddd;
    color: black;
  }
