<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Main page</title>
    </head> 

    <body>
        <div class="main">
            <h1 class="home-h1"> Web-Quiz </h1>
            <div class="column">
                <h1 class="home-h1">Provide</h1> 
                <h2 class="home-h2">Quick Test</h2><br/><br/>
                <h2 class="home-h2">Variety of topics</h2><br/><br/>
                <h2 class="home-h2">Test feedback</h2><br/><br/>
                <h2 class="home-h2">Overall performance</h2><br/>
            </div>

            <div class="column">
                <a href="{{url_for('loginpage')}}"><button class="btn"><i class="fa fa-arrow-right"></i>Start</button></a>
            </div>
            
            <div class="column">
                <h1 class="home-h1">Aim</h1> 
                <h2 class="home-h2">Reviewing knowledge</h2><br/><br/>
                <h2 class="home-h2">Testing your Knowledge</h2><br/><br/>
                <h2 class="home-h2">Expand skills</h2><br/><br/>
                <h2 class="home-h2">Improve</h2><br/>
            </div>
        </div>
    </body>

</html>